body{
    
    font-family: 'newyorktimes';
    background: rgb(255, 255, 255);
    color: rgb(248, 169, 248);
    max-width:600px;
}


img{
    width:200px;
}
h1{
    font-size: 2.5em;
    color:rgb(244,227,246);
    text-align: center;
}
h2{
    font-size: 1.8em;
        color:rgb(244,227,246);
        line-height:1.6;
}
    p{
        font-size: 1em;
        color:rgb(0,0,0);
    }
