body{
     text-align: center;
    font-family: 'newyorktimes';
    background: rgb(255, 255, 255);
    color: rgb(248, 169, 248);
    
}


img{
    width:200px;
}
h1{
    font-size: 2.5em;
    color:rgb(214,227,246);
 
}
h2,h3,h4,h5,h6{
    font-size: 1.9em;
        color:rgb(248, 169, 248);
        line-height:1.6;
}


p{
        font-size: 1.15em;
        line-height: 1.8;
        color:rgb(0,0,0);
         max-width: 700px;  
       font-family: 'newyorktimes';
    }
