img{
    width:200px;
}
body{
    text-align:center;
    width:500px;
}
body{
    text-align:center;
    font-family: 'newyorktimes';
    background: rgb(255, 255, 255);
    color: rgb(248, 169, 248);
}
